<!DOCTYPE html>
<html>
<head>
  <title>먼지먹고 무임승차</title>
  <link rel="icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/style.css">
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
  <div class="bg {{ class }}">
    <h1><del>오늘 서울시 대중교통은 무료인가요?</del></h1>
    <p>서울시에서 밑장을 빼는 바람에 더 이상 무료인 날은 없습니다.</p>
    <div class="info">
      <p>정보제공 : <a href="https://www.keco.or.kr/kr/main/index.do">한국환경정보</a></p>
      <p>제작 : <a href="https://www.facebook.com/groupnullfull/">널채움(Nullfull)</a></p>
    </div>
  </div>
</body>
</html>